* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .collaboration-images {
    display: flex;
    flex-direction: column;
  }

  .collaboration-images a {
    margin-bottom: 20px; /* Adjust spacing between images */
  }
}


/* PADDING PÅ MANTINE ACCOIRDION I PROCESS SECTIONEN */
.mantine-731ldn {
  padding: 0;
}